<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <context:component-scan base-package="com.slamur.app.neuro"/>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="NeuroAppPersistenceUnit" />
    </bean>

    <bean id="entityManager"
          class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <tx:annotation-driven/>

    <bean id="persistenceAnnotation"
          class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="dictionaryDao" class="com.slamur.app.neuro.dao.jpa.DictionaryDaoJPA"/>

    <bean id="dictionaryService" class="com.slamur.app.neuro.service.impl.DictionaryServiceImpl">
        <property name="dictionaryDao" ref="dictionaryDao"/>
    </bean>

    <bean id="dictionaryTypeDao" class="com.slamur.app.neuro.dao.jpa.DictionaryTypeDaoJPA"/>

    <bean id="dictionaryTypeService" class="com.slamur.app.neuro.service.impl.DictionaryTypeServiceImpl">
        <property name="dictionaryTypeDao" ref="dictionaryTypeDao"/>
    </bean>

    <bean id="parameterDao" class="com.slamur.app.neuro.dao.jpa.ParameterDaoJPA"/>

    <bean id="parameterService" class="com.slamur.app.neuro.service.impl.ParameterServiceImpl">
        <property name="parameterDao" ref="parameterDao"/>
    </bean>

    <bean id="primitiveTypeDao" class="com.slamur.app.neuro.dao.jpa.PrimitiveTypeDaoJPA"/>

    <bean id="primitiveTypeService" class="com.slamur.app.neuro.service.impl.PrimitiveTypeServiceImpl">
        <property name="primitiveTypeDao" ref="primitiveTypeDao"/>
    </bean>

    <bean id="queryDao" class="com.slamur.app.neuro.dao.jpa.QueryDaoJPA"/>

    <bean id="queryService" class="com.slamur.app.neuro.service.impl.QueryServiceImpl">
        <property name="queryDao" ref="queryDao"/>
    </bean>

    <bean id="queryParamDao" class="com.slamur.app.neuro.dao.jpa.QueryParamDaoJPA"/>

    <bean id="queryParamService" class="com.slamur.app.neuro.service.impl.QueryParamServiceImpl">
        <property name="queryParamDao" ref="queryParamDao"/>
    </bean>

    <bean id="sessionStorage" class="com.slamur.app.neuro.session.impl.SessionStorageImpl" scope="session">
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>
</beans>